body {
  background-color: #fff;
  color: #333;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  padding-top: 50px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.site-header {
  & * {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
  }
  & h1 {
    font-size: 36px;
  }
  & h2 {
    color: #666;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
  }
  margin-bottom: 35px;
}

.photo {
  margin: auto;
  margin-bottom: 75px;
  text-align: center;
  & img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}

.h-card {
  a {
    color: #666;
    text-transform: none;
  }
}

.main-content {
  & h2 {
    font-size: 22px;
  }
  & h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  & h4 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
  }
  .p-summary {
    margin-bottom: 40px;
  }
  .p-experience {
    page-break-inside: avoid;
  }
  @media screen {
    margin-bottom: 200px;
  }
}

.link-subtle a {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: #999;
}
.link-subtle a:hover {
  color: #666;
}
h2.link-subtle a {
  text-decoration: none;
}

.links {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  & h2 {
    font-size: 18px;
  }
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  & li, & p, & h3 {
    font-size: 15px;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
}

.byline {
  margin-top: 50px;
  & p {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .photo {
    margin-bottom: 50px;
    & img {
      width: 230px;
      height: 230px;
      border-radius: 50%;
    }
  }
  .site-header h1 {
    font-size: 45px;
    margin-left: -2px;
  }
  .links {
    display: block;
    & h2 {
      margin-top: 2em;
    }
  }
  .contact {
    margin-top: 10px;
  }
}

.item, h2.education {
  margin-top: 40px;
}
